#outputTarget {
  line-height: 3px;
  font-height: 12px;
}

section {
  display: block;
  border: 2px dotted black;
  float: left;
  width:40%;
  height: 150px;
  padding: 2%;
  margin: 1%;
}

section p {
  font-weight: bold;
  color: red;
}

#outputTarget {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

